<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Newspage</title>
	<link rel="stylesheet" type="text/css" href="{% static "firstapp/css/homepage.css" %}">
</head>
<body>
	<h1>{{ main_msg }}</h1>
	<ul>
		<li>{{ msg1 }}</li>
		<li>{{ msg2 }}</li>
	</ul>
</body>

<style>
body {
  background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190617/ourmid/pngtree-polygonal-chemical-molecule-poster-background-image_125106.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
   background-size: 100% 100%;
}
</style>


<h1>To know more  Click on the below Link</h1>

<p><a style="color:black" href="https://interestingengineering.com/11-best-chemistry-channels-on-youtube">&#x25BA; Complete Chemistry</a></p>	

<p><a style="color:black" href="https://www.youtube.com/user/CENonline">&#x25BA; Complete Chemistry youtube</a></p>


</html>