<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>firstapp</title>
	<link rel="stylesheet" type="text/css" href="{% static "firstapp/css/homepage.css" %}">
</head>
 <body>
 <style>
 body 
 {
	  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT1XT0skBKafXSXM8QOqWysWCjuzn9vKx_YiA&usqp=CAU');
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: cover;
	   background-size: 100% 100%;
  }
</style>

	
	<h1>{{ main_msg }}</h1>
	<!---
	<ul>
		<li>{{ msg1 }}</li>
		<li>{{ msg2 }}</li>
	</ul>

		<h4> <Click to kno more about><h4>
		-->		
	
		 <p><a style="color:white" href="https://www.physicsgalaxy.com/lectures/1/2/1/1/Introduction-to-Calculus">&#x25BA; Complete Physics Classes for JEE & NEET  </a></p> 
		

		 <p ><a style="color:white"  &larr; href="https://www.physicsgalaxy.com/illustration/1/1/149/2365/Advance_Illustrations">&#x25BA; Advance Illustration Videos for IIT-JEE</a></p>

		  <p><a style="color:white" href="https://www.physicsgalaxy.com/lectures/1/2/1/1/Introduction-to-Calculus">&#x25BA; Complete Physics Classes for JEE & NEET</a></p>	


	
		
</body>
</html>