<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Newspage</title>
	<link rel="stylesheet" type="text/css" href="{% static "firstapp/css/homepage.css" %}">
</head>
<body>
	<h1>{{ main_msg }}</h1>
	<ul>
		<li>{{ msg1 }}</li>
		<li>{{ msg2 }}</li>
	</ul>



<style>
body {
  background-image: url('https://image.freepik.com/free-vector/blue-social-media-background_1017-7008.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
   background-size: 100% 100%;
}
</style>



<h1>To know more  Click on the below Link</h1>

<p><a style="color:white" href="https://edition.cnn.com/specials/latest-news-videos">&#x25BA; Social </a></p>	

<p><a style="color:white" href="https://www.youtube.com/user/CENonline">&#x25BA; Complete Chemistry youtube</a></p>

<p><a style="color:white" href="https://edition.cnn.com/health/">&#x25BA;HEALTH</a></p>
</body>
</html>